DogAndCatVideosServer/path/to/serviceAccountKey.json
DogAndCatVideosServer/keys/private.pem
DogAndCatVideosServer/keys/cert.pem
apk/app-release.apk
DogAndCatVideosServer/.idea/vcs.xml
DogAndCatVideosServer/.idea/modules.xml
DogAndCatVideosServer/.idea/misc.xml
DogAndCatVideosServer/.idea/libraries/DogAndCatVideosServer_node_modules.xml
DogAndCatVideosServer/.idea/jsLibraryMappings.xml
DogAndCatVideosServer/.idea/DogAndCatVideosServer.iml
DogAndCatVideosServer/.idea/.name
DogAndCatVideos/.idea/runConfigurations.xml
DogAndCatVideos/.idea/modules.xml
DogAndCatVideos/.idea/misc.xml
DogAndCatVideos/.idea/compiler.xml
DogAndCatVideosServer/.idea/workspace.xml
DogAndCatVideos/.idea/copyright/profiles_settings.xml
